.footer {
  background: var(--black-basic);
  color: var(--green-light);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 0;
}

.footer-icons ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.footer-icons ul li {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;
}

.footer-icons ul li:nth-child(1) {
  background: #1877F2;
}

.footer-icons ul li:nth-child(2) {
  background: #CD201F;
}

.footer-icons ul li:nth-child(3) {
  background: var(--green-main);
}

.footer-icons ul li a {
  color: var(--white-light);
  font-size: 24px;
}

.footer-atags ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer-atags ul li a {
  color: var(--green-light);
  font-size: var(--text-md);
  font-weight: 500;
  transition: .3s;
}

.footer-text-wrap {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: var(--text-md);
}

.footer-text-left ul,
.footer-text-right ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.footer-copyright {
  text-align: center;
  font-size: var(--text-md);
}

/* 호버 */
.footer-icons ul li:nth-child(1):hover,
.footer-icons ul li:nth-child(2):hover,
.footer-icons ul li:nth-child(3):hover {
  background: var(--white-light)
}

.footer-icons ul li:nth-child(1):hover a {
  color: #1877F2;
}

.footer-icons ul li:nth-child(2):hover a {
  color: #CD201F;
}

.footer-icons ul li:nth-child(3):hover a {
  color: var(--green-main);
}

.footer-atags ul li a:hover {
  color: var(--green-main);
  font-weight: 700;
}

@media (max-width: 768px) {
  .footer {
    padding: 24px 0;
  }

  .footer-icons ul li {
    width: 35px;
    height: 35px;
  }

  .footer-icons ul li a {
    font-size: 18px;
  }

  .footer-atags ul li a {
    font-size: var(--m-text-sm);
  }

  .footer-text-wrap {
    flex-direction: column;
    margin: auto;
    font-size: var(--m-text-xs);
  }

  .footer-copyright {
    font-size: var(--m-text-xs);
  }
}