.intro .title span {
  color: var(--green-main);
}

.intro-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro-desc {
  font-size: var(--text-xl);
  color: var(--black-light);
}

.goto-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.goto-about,
.goto-donation {
  width: 360px;
  height: 90px;
  border: 3px solid var(--green-main);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  transition: .3s;
}

.goto-about .goto-sub-title,
.goto-donation .goto-sub-title {
  font-size: var(--text-sm);
  color: var(--gray-dark);
}

.goto-about .goto-title,
.goto-donation .goto-title {
  font-size: var(--text-xl);
  font-weight: 600;
  color: var(--green-main);
  transition: .3s;
}

/* 호버 */
.goto-about:hover,
.goto-donation:hover {
  background: var(--green-main);
}

.goto-about:hover .goto-title,
.goto-donation:hover .goto-title {
  color: var(--white-light);
}

.goto-about,
.goto-donation {
  position: relative;
}

.goto-about::after,
.goto-donation::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--yellow-accent);
  opacity: 0.7;
  left: 91%;
  top: 61%;
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@media (max-width: 768px) {
  .intro-content {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }

  .intro-desc {
    font-size: var(--m-text-md);
    margin-bottom: 40px;
  }

  .goto-area {
    flex-direction: column;
    gap: 8px;
  }

  .goto-about,
  .goto-donation {
    width: 100%;
    height: 80px;
  }

  .goto-about .goto-sub-title,
  .goto-donation .goto-sub-title {
    font-size: var(--m-text-sm);
  }

  .goto-about .goto-title,
  .goto-donation .goto-title {
    font-size: var(--m-text-lg);
  }
}