.people-title-wrap {
  display: flex;
  align-items: center;
  gap: 12px;
}

.people-box-operation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin-bottom: 40px;
}

.operation {
  width: 400px;
  height: 160px;
  border-radius: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  box-shadow: var(--shadow-box-offset) var(--shadow-box-blur) var(--shadow-color-pc);
}

.operation span {
  width: 100px;
  height: 100px;
}

.operation .people-text-wrap {
  text-align: center;
}

.operation .people-text-wrap .people-number {
  font-size: var(--text-accent);
  font-weight: var(--text-accent-weight);
  margin-bottom: 4px;
}

.operation .people-text-wrap .people-who {
  font-size: var(--text-md);
}

.operation1,
.operation3 {
  background: var(--green-light);
}

.operation2 {
  background: var(--gray-dark);
  color: var(--white-light);
}

.operation1 span {
  background: url(../image/icon_people_01.png) no-repeat center / cover;
}

.operation2 span {
  background: url(../image/icon_people_02.png) no-repeat center / cover;
}

.operation3 span {
  background: url(../image/icon_people_03.png) no-repeat center / cover;
}

.operation1 .people-text-wrap .people-number,
.operation3 .people-text-wrap .people-number {
  color: var(--black-dark);
}

.operation2 .people-text-wrap .people-number {
  color: var(--white-light);
}

.operation1 .people-text-wrap .people-who,
.operation3 .people-text-wrap .people-who {
  color: var(--gray-dark);
}

.operation2 .people-text-wrap .people-who {
  color: var(--white-dark);
}

.people-box-member {
  width: 900px;
  height: 230px;
  border-radius: 500px;
  background: linear-gradient(to left, rgb(66, 176, 73), rgb(88, 185, 94), rgb(110, 194, 115));
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: var(--white-light);
  margin: 0 auto;
  box-shadow: var(--shadow-box-offset) var(--shadow-box-blur) var(--shadow-color-pc);
}

.people-box-member span {
  background: url(../image/people_member.jpg) no-repeat center / cover;
  width: 400px;
  height: 150px;
  border-radius: 500px;
}

.people-box-member .people-text-wrap {
  text-align: center;
}

.people-box-member .people-text-wrap .people-number {
  font-size: var(--text-accent);
  font-weight: var(--text-accent-weight);
  margin-bottom: 20px;
}

.people-box-member .people-text-wrap .people-who {
  font-size: var(--text-lg);
}

.people .title-btn {
  position: relative;
}

.people .title-btn::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--green-dark);
  opacity: 0.7;
  left: 85%;
  top: 55%;
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@media (max-width: 768px) {
  .people-box-operation {
    flex-direction: column;
  }

  .operation {
    width: 100%;
    height: 100px;
    box-shadow: var(--m-shadow-box-offset) var(--m-shadow-box-blur) var(--shadow-color-mobile);
  }

  .operation2 {
    flex-direction: row-reverse
  }

  .operation span {
    width: 75px;
    height: 75px;
  }

  .people-text-wrap {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 12px;
  }

  .operation .people-text-wrap .people-number {
    font-size: var(--m-text-accent);
  }

  .operation .people-text-wrap .people-who {
    font-size: var(--m-text-lg);
  }

  .people-box-member {
    width: 100%;
    height: 150px;
    border-radius: 40px;
    box-shadow: var(--m-shadow-box-offset) var(--m-shadow-box-blur) var(--shadow-color-mobile);
  }

  .people-box-member span {
    border-radius: 50px;
    width: 150px;
    height: 100px;
  }

  .people-box-member .people-text-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  .people-box-member .people-text-wrap .people-number {
    font-size: var(--m-text-accent);
    margin-bottom: 0;
  }

  .people-box-member .people-text-wrap .people-who {
    font-size: var(--m-text-sm);
    width: 120px;
    margin: auto;
  }
}