.popup-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  background: rgba(33, 33, 33, 0.3);
  display: none;
  justify-content: center;
  align-items: center;
  color: #000;
}

.popup-wrap {
  width: 1100px;
}

.popup-box {
  width: 100%;
  height: auto;
  background: var(--white-light);
  border-radius: 20px;
  position: relative;
  padding: 0 60px;
  padding-top: 95px;
  padding-bottom: 40px;
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.5);
}

.popup-icon {
  width: 150px;
  height: 150px;
  background: url(../image/popup_icon.png) no-repeat center / cover;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -75px;
}

.popup-title-wrap {
  font-weight: 600;
}

.project-number {
  font-size: 20px;
}

.project-title {
  font-size: 40px;
}

.project-title>span {
  color: var(--green-main);
}

.popup-delete {
  width: 50px;
  height: 50px;
  background: url(../image/popup_delete_icon.png) no-repeat center / cover;
  position: absolute;
  right: 20px;
  top: 20px;
}

.popup-main-content-wrap {
  margin-top: 40px;
  display: grid;
  grid-row-gap: 20px;
  grid-column-gap: 100px;
  grid-template-columns: 25fr 29fr;
}

.project-info {
  grid-area: 1 / 1 / 2 / 2;
  font-size: 20px;
}

.project-text-bold {
  font-weight: 600;
}

.project-info-box-wrap {
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.project-info-box {
  border-radius: 10px;
  width: 100%;
  padding: 27px 38px;
  font-size: 20px;
}

.project-info-box1 {
  background: rgba(66, 176, 73, 0.5);
}

.project-info-box2 {
  background: var(--gray-light);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.click-icon-wrap {
  display: flex;
  gap: 10px;
}

.click-icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.click-icon-yellow {
  background: rgba(255, 193, 7, 0.7);
}

.click-icon-green {
  background: rgba(25, 64, 28, 0.7);
}

.project-result-img-wrap {
  grid-area: 1 / 2 / 3 / 3;
  display: flex;
  align-items: center;
  gap: 20px;
}

.project-result-img-before-bg {
  width: 176px;
  height: 299px;
  border-radius: 10px;
  background: #E0E0E0;
  position: relative;
}

.project-result-img-before {
  width: 142px;
  height: 279px;
  margin: 10px auto;
  background: url(../image/popup_before_img.png) no-repeat center / cover;

}

.project-result-img-before-text,
.project-result-img-after-text {
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid var(--white-light);
  border-radius: 5px;
  background: var(--black-dark);
  color: var(--white-light);
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
}

.project-result-img-icon {
  width: 80px;
  height: 80px;
  background: url(../image/popup_right_icon.png) no-repeat center / cover;
}

.project-result-img-after-bg {
  width: 176px;
  height: 450px;
  border-radius: 10px;
  background: #E0E0E0;
  position: relative;
}

.project-result-img-after {
  width: 142px;
  height: 430px;
  margin: 10px auto;
  background: url(../image/popup_after_img.png) no-repeat center / cover;
}

@media (max-width: 768px) {
  .popup-wrap {
    width: 88.8%;
  }

  .popup-box {
    padding: 0 20px;
    padding-top: 70px;
    padding-bottom: 20px;
    min-width: 400px;
  }

  .popup-icon {
    width: 100px;
    height: 100px;
    top: -50px;
  }

  .project-number {
    font-size: 15px;
  }

  .project-title {
    font-size: 25px;
  }

  .popup-delete {
    width: 35px;
    height: 35px;
  }

  .popup-main-content-wrap {
    margin-top: 10px;
    display: grid;
    grid-row-gap: 30px;
    grid-template-columns: auto;
  }

  .project-info {
    grid-area: 1 / 1 / 2 / 2;
    font-size: 16px;
  }

  .project-info-box-wrap {
    grid-area: 3 / 1 / 4 / 2;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .project-info-box {
    padding: 12px;
    font-size: 16px;
  }

  .project-result-img-wrap {
    grid-area: 2 / 1 / 3 / 2;
    justify-content: center;
    gap: 14px;
  }

  .project-result-img-before-bg {
    width: 127px;
    height: 215px;
  }

  .project-result-img-before {
    width: 102px;
    height: 201px;
  }

  .project-result-img-before-text,
  .project-result-img-after-text {
    width: 86px;
    height: 29px;
    font-size: 14px;
    bottom: -14.5px;
  }

  .project-result-img-icon {
    width: 57px;
    height: 57px;
  }

  .project-result-img-after-bg {
    width: 127px;
    height: 324px;
  }

  .project-result-img-after {
    width: 102px;
    height: 310px;
  }
}